<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vipcodeerror.brandup">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrandUp">
        <activity android:name=".ui.main.view.activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.view.activity.MainActivity"/>
        <activity android:name=".ui.main.view.activity.OtpVerficationActivity"/>
        <activity android:name=".ui.main.view.activity.PreferredLanguageActivity"/>
        <activity android:name=".ui.main.view.activity.BusinessCategory"/>
        <activity android:name=".ui.main.view.activity.LoginActivity"/>
        <activity android:name=".ui.main.view.activity.SearchActivity"/>
        <activity android:name=".ui.main.view.activity.NotificationActivity"/>
        <activity android:name=".ui.main.view.activity.BottomFrameSelectorActivity"/>
        <activity android:name=".ui.main.view.activity.PlanSelectorActivity"/>
        <activity android:name=".ui.main.view.activity.ImageOpenActivity"
            android:theme="@style/Theme.Transparent"
            />
        <activity android:name=".ui.main.view.activity.BrandLogoEdit"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>

        <activity android:name=".ui.main.view.activity.MyBusinessList"/>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name=".ui.main.view.activity.FrameTemplateSelectorActivity"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>